{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Sockets" %}

{% block content %}
    <script>
        var sessionId = "{{ sessionId }}";
    </script>
    <div id="console" style="float:right; width: 70%"></div>
    {{ clank_client() }}
    {% javascripts
    '@AcmeDemoBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <img src="{{ qrcode_url(qrCodeUrl) }}" />
{% endblock %}
